# This is Git's per-user configuration file.
[user]
	email = helagro@outlook.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3YYGELrGNjjINk5tGtSKIn2ar6m6QCUHtCEWWT33NLTZ9bxTpi2JmM4MJs9yyvFp/PF+XS5NR4E1YxRRPG6Cb61ZmZeZylZjWlZlkgiPJm4ui0b3JpfnUFTL9WOxP9J0+PlzVresC14N0QyPsHIfnKzImAPPzBCnuwIzhZijIqsL17cwPqKgTaG7DLSi4TKFNyR/Or5WSs/vOrEIQ7bwZWvkS1nqwWY9J+8YENS5eQf4P4ZctFeZm84VQTke5FttYe6HqjGd7uW6LGT/0AfdB++lnx4EjaaWr2d+Kkniv6s5XXC/9oHOBoKfH5FrpAApcWA3pvFEz+LYxPRhmymSd
	name = Henrik Lagrosen
# Please adapt and uncomment the following lines:
#	name = Henrik L
#	email = h@Henriks-MacBook-Air.local
[core]
	editor = code --wait
	commentChar = ";"
	excludesFile = /Users/h/.gitignore
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = false
