# This is Git's per-user configuration file.
[user]
	email = helagro@outlook.com
# Please adapt and uncomment the following lines:
#	name = Henrik L
#	email = h@Henriks-MacBook-Air.local
[core]
	editor = code
	commentChar = ";"
[push]
	autoSetupRemote = true
