[Unit]
Description=Dotfiles Service
After=network.target

[Service]
Type=forking
ExecStart=/home/h/.dotfiles/hooks/linux/onLogin.sh
User=h
Environment=HOME=/home/h
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
